<% include partials/header %>

<div class="row">
<div class="container">
    <h1 style="font-family: 'Oswald', sans-serif; font-size:50px;">Hello <%= user.username%>!</h1>
    <h2 style="font-family: 'Oswald', sans-serif; font-size:35px;">OrderID: <%= order.orderid %></h2>
    <hr>
    <% if(user && !user.isAdmin) { %>
        <p style="font-family: 'Oswald', sans-serif; font-size:30px;">Your total is: <strong>$<%= order.totalPrice %></strong>.</p>
    <% } %>
    <% if(user && user.isAdmin) { %>
        <p>The user who made this order is: <strong><%= order.username %></strong>.</p>
        <p>The total of this order is: <strong>$<%= order.totalPrice %></strong>.</p>
	<% } %>

    <% items.forEach(function(item){ %>
        <div class="card mb-3" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="/menus/<%= item.menuObject._id %>">
                        <img class="card-img" src="/images/<%= item.menuObject.image %>"
                        style="width:180px; height:180px;margin:10px" />
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div id="menuinfo" class="row align-items-center" style="font-size: font-size: 1rem;font-family: 'Oswald', sans-serif;"">
                            <div class="col-md-6">
                                <p><strong>Name: </strong><%= item.menuObject.name %></p>
                                <p><strong>Type: </strong><%= item.menuObject.type %></p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Price: </strong>$<%= item.menuObject.price %></p>
                                <p><strong>Quantity: </strong><%= item.menucount %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    <a href="/menus" class="button">Back to Home</a>
    <a href="/<%= user._id%>/profile" class="button">Back to profile</a>
</div>
</div>
<br><br><br>
<% include partials/footer %>